@use "../utils/" as *;


/* Animat*/
@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
  
  
  .animat-0 {
    animation-delay: appear 600ms;
  }
  .animat-1 {
    animation-delay: appear 800ms;
  }
  .animat-2 {
    animation-delay: appear 1s;
  }

  .animat-3 {
    animation-delay: appear 3s;
  }
  .animat-4 {
    animation-delay: appear 4s;
  }
  .animat-5 {
    animation-delay: appear 5s;
  }
  .animat-6 {
    animation-delay: appear 6s;
  }
  .animat-7 {
    animation-delay: appear 7s;
  }
  .animat-8 {
    animation-delay: appear 8s;
  }
  .animat-9 {
    animation-delay: appear 9s;
  }
  
  