@use "../utils/" as *;


/* Animat*/
@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
  
  
  .animat-0 {
    animation-delay: appear 10ms;
  }
  .animat-1 {
    animation-delay: appear 11ms;
  }
  .animat-2 {
    animation-delay: appear 12ms;
  }

  .animat-3 {
    animation-delay: appear 13ms;
  }
  .animat-4 {
    animation-delay: appear 14ms;
  }
  .animat-5 {
    animation-delay: appear 15ms;
  }
  .animat-6 {
    animation-delay: appear 16ms;
  }
  .animat-7 {
    animation-delay: appear 17ms;
  }
  .animat-8 {
    animation-delay: appear 18s;
  }
  .animat-9 {
    animation-delay: appear 19ms;
  }
  
  