@use "../utils/" as *;

/******section Menu*********/
/***header***/
.content {
  position: relative;
  text-align: center;
  justify-content: center;

  .header--homePage img {
    width: 50%;
  }
  .header--return_homePage {
    display: flex;
    font-size: 23px;
    padding-left: 15px;
    // transition: 0.5s;
  }
  
  .header--arrow {
    display: flex;
  }
}
//section menu
  .selectionMenu {
    position: absolute;

    .selection--img img {
      width: 100%;
      object-fit: cover;
    }

    .selection--title {
      display: flex;
      background: #f2f2f2;
      border-radius: 50px 50px 0 0;
      padding-top: 20px;
    }

    h1 {
      font-size: 28px;
      text-align: left;
      padding-left: 20px;
    }
    .heart {
      font-size: 2px;
      padding-left: 77px;
      // top: 10px;
      // align-items: flex-start;
      cursor: pointer;
    }
    @include heart;
  }


//cards
.contentAllCard{
  background: #f2f2f2;
}
.categoryMenu-title {
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
  gap: 2px;
  ::after {
    content: "";
    background: #99e2d0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 5px;
  }
}
.menuContent {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 2px;
}

.card {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: #fff;
  border: 2px solid pink;
  border-radius: 15px;
  @include boxshadowsDark;
  min-width: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out ;
  &__content {
    overflow: hidden;
    flex-direction: column;
    align-self: center  ;    
    transition: 0.5s;
    flex: 1;
    width: 0;
    h3 {
      white-space: nowrap;
      font-weight: 400;
      width: 100%;
    }
    p {
      opacity: 0.7;
      margin: 0;
    }
    h3,p{
      padding-left: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
    .card__price {
      display: flex;
      gap: 15px;
      align-items: flex-end;
      // margin-right: -68px;
      transition: all 0.5s ease-in-out ;
      padding-inline: 1rem;
      padding-block: 15px;
    }
    .card__price span{
      font-weight: 700;
      padding-top: 10px;
      align-self: center;    
}
    .card__price .card__check{
      height: 86px;
      padding: 0 25px;
      
    }
    
  .card__check {
      background-color: #99e2d0;
      height: 70px;
      color: #fff;
      display: flex;
      align-items: center;
      border-radius: 0 15px 15px 0;
      margin-right: -0px;
      i {
          font-size: 25px;
          padding: 25px;
          transform: rotateZ(-180deg);
          transition: 0.8s;
      }
}
