/* *** Couleurs *** */
/* Identité graphique*/
$primary:#9356DC ;
$secondary: #FF79DA;
$tertiary:#99E2D0;


/*style secondaire*/
$dark:#353535;
$greylight:#ededed;

/*Couleurs background*/
/*général*/
$backgroundColor:#F7F7F7;
/*Map input*/
$backgroundSearchInput: #ededed;

/*dégradé*/
$gradient: linear-gradient(#ff79da, #9356dc);

/*breakpoint*/
$breakpointmobile: 767px;
$breakpointtablet: 1000px;
$breakpointdestop: 1440px;

.title{
    font-family: 'shrikhand', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/*Mixins*/


@mixin button {
        font-size: 16px;
        @include gradient;
        color: #fff;
        border: none;
        border-radius: 50px;
        width: 220px;
        height: 50px;
        @include boxshadowsDark;
        cursor: pointer;
        transition: 0.5s;    
}
@mixin boxshadowsDark{
    box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
}
@mixin boxshadowsLight{
    box-shadow: 0 5px 10px rgba(145, 145, 145, 0.4);
}
@mixin zoom {
    transform: scale(1.02);
}
@mixin gradient{
    background: linear-gradient(#ff79da, #9356dc);
}
@mixin highlight {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    margin-left: 20px;
    font-weight: 700;
}
/*Heart*/
@mixin heart {
.heart {
    display: flex;
    font-size: 1.5rem;
    
}
    .icon {
        position: relative;
        i{
        position: absolute;
        right: 1rem;
        }
        .heart-background {
        color: transparent;
        background-image: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 2s ease-in-out forwards;
        }
        .heart-background:hover{
        opacity: 1;
        transform: scale(1.1);
        }
    }
}

