@use "../utils/" as *;
footer {
    position: relative;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 40%);
    background: $dark;
    color: white;
    

img{
        width: 110px;
        object-fit: cover;

}
span{
    display: flex;
    gap: 1rem;
    padding-bottom: 10px;
    align-items: baseline;
}
h3{
    font-size: smaller;
    font-weight: 400;
}

}