@use "../utils/" as *;

header {
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 2px;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 40%);

img{
        width: 160px;
        object-fit: cover;
}
}
.header__logo{
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.contentLogo{
    height: 20px;
}