@use "../utils/" as *;

header {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 40%);

img{
        width: 140px;
        object-fit: cover;
        border: 2px solid blue;
}
}
.header__logo{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.contentLogo{
    height: 125px;
}

