@use "../utils/" as *;

.mapContent{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #f3f2f2;
    font-size: small;
    box-shadow: 0 2px 0px rgb(0 0 0 / 40%);
    gap: 15px;


}
.mapContent i{
        font-size: 1rem;
}
.exploreContent {
    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
    padding: 25px 25px 52px 25px;
    .explore{
        text-align: center;
        margin-bottom: 15px;
    }
}
button{
    font-size: 16px;
    @include gradient;
    color: #fff;
    border: none;
    border-radius: 50px;
    width: 220px;
    height: 50px;
    // box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
    @include boxshadows;
    cursor: pointer;
    transition: 0.5s;

}
.functioningContent{
    display: flex;
    flex-direction: column;
    border: maroon 2px solid;
    padding: 25px 25px 52px 25px;
    h2{
        padding: 1.5rem 1rem;
    }
}
.selection {
    border: #ff79da 2px solid;
    height: 150px;
    li{
        display: flex;
        justify-content: space-around;
        position: relative;
        height: 50px;
        flex: 1;
        gap: 1rem;
        align-items: center;
        // box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
        @include boxshadows;
        border-radius: 50px;
        cursor: pointer;
        background: #F5F5F5;
        padding-left: 33px;
        justify-content: flex-start;
}
    ol{
        gap: 1rem;
}
    i{
        color: grey;
}
}

.selection 
ol li::before {
    content: counter(li);   
    background: #9356dc;
    color: #fff;  
    display: inline-block; 
    position: absolute; 
    left: 0;
    aspect-ratio: 1 / 1;
    width: 28px;
    border-radius: 50%;
    border: #deebff 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatex(-50%);
    } 
    li {counter-increment: li}
/*section Restaurant*/

/*******Hébergement*********/
.contentRestaurants {
    display: flex;
    gap: 32px;
}

.contentCard h3 {
    margin: 0;
    margin-bottom: 16px;
    font-size: large;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
}

.contentCard {
    background: #f2f2f2;
    padding: 32px;
    flex: 2;
    border-radius: 20px;
    justify-content: space-between;
    gap: 32px;
}

.contentCard h4 {
    margin-top: 41px;
}

.styleCard {
    flex: 1;
    min-width: 200px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.styleCard:hover {
    transform: scale(1);
    background: #3fadc3;
    padding: 2px;
    transition: 1s;
}

.contentCard .styleTextCard h4,
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contentCard img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}
.new{
    display: flex;
    flex-direction: row;
    position: absolute;
    background: #96DAC8;
    color: #399658;
    margin-left: 14rem;
    margin-top: 1rem;
}
.heart{
        height: 10vh;
        display: flex;
    }
    .icon {
        fill: transparent;
        stroke: $primary;
        stroke-width: 20;
        cursor: pointer;
        position: relative;
        svg {
            overflow: visible;
            width: 2rem;
        }
        path {
            stroke-dashoffset: 0;
            stroke-dasharray: 1550;
            transform-origin: center;
        }
        .heart-background {
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;
            stroke: none;
        }
        .heart-main:hover path {
            animation: stroke-animation 2s ease-in-out forwards;
        }
        .heart-main:hover ~ .heart-background path {
            animation: fade-animation 2s ease-in-out forwards;
        }
    }
        @keyframes stroke-animation {
        0% {
            stroke-dashoffset: 0;
        }
        30% {
            stroke-dashoffset: 1550;
        }
        60% {
            stroke-dashoffset: 3100;
            fill: transparent;
            transform: scale(1);
        }
        80% {
            fill: $primary;
            transform: scale(1.1);
        }
        90% {
            transform: scale(1);
        }
        100% {
            stroke-dashoffset: 3100;
            fill: $primary;
        }
    }
    @keyframes fade-animation {
        70% {
            fill: transparent;
            transform: scale(1);
    }
        80% {
            fill: $secondary;
            @include gradient;
            transform: scale(1.1);
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: scale(2.5);
            opacity: 0;
        }
    }


